---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
import type { Project } from "@/data/projects";
import GalleryDisplay from "@/components/gallery-display.astro";
import { Image } from "astro:assets";
import ExternalLink from "@/components/external-link.astro";
import { FiExternalLink } from "react-icons/fi";

interface ProjectLayoutProps {
	project: Project;
}

const { project } = Astro.props as ProjectLayoutProps;
const details = project.projectPageDetails;
---

<Layout>
	<div class="container">
		<div id="project-header-content">
			{
				typeof details.headerContent === "string" ? (
					<div id="iframe-container">
						<iframe
							width="100%"
							height="fit-content"
							src={details.headerContent.replace("watch?v=", "embed/")}
							title="YouTube video player"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						/>
					</div>
				) : (
					<div id="image-container">
						<Image src={details.headerContent} alt="Project header" />
					</div>
				)
			}
		</div>

		<div id="project-header">
			<h1>{project.title}</h1>
			<h2>Role: {project.role}</h2>
		</div>
		<section id="paragraphs">
			{details.contentParagraphs.map(paragraph => <p>{paragraph}</p>)}
			<!-- {JSON.stringify(project)} -->
		</section>
		{
			details.documentationLinks && (
				<section id="documentation">
					<h2>Additional Documentation</h2>
					<ul>
						{details.documentationLinks.map(link => (
							<li>
								<ExternalLink
									href={link.url}
									name={link.title}
									Icon={FiExternalLink}
								/>
							</li>
						))}
					</ul>
				</section>
			)
		}
		{
			details.galleryImages.length > 0 && (
				<section id="gallery">
					<h2>Gallery</h2>
					<GalleryDisplay images={details.galleryImages} columns={details.galleryColumns} />
				</section>
			)
		}
	</div>
	<section id="game-link-container">
		<ExternalLink
			href={details.projectLink}
			name={details.projectLinkLabel}
			Icon={FiExternalLink}
		/>
	</section>

</Layout>

<style>
	h2 {
		color: white;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;

		list-style: none;
		padding-left: 0;

		font-size: 1.25rem;
	}

	#game-link-container {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-top: 2rem;

		font-size: 1.5rem;
	}

	#project-header {
		display: flex;
		justify-content: space-between;
	}

	#paragraphs {
		font-size: large;
	}

	@media (max-width: 750px) {
		#project-header {
			flex-direction: column;
			align-items: flex-start;
		}

		#project-header h1 {
			margin-bottom: 0;
		}
	}

	#iframe-container {
		width: 100%;
		aspect-ratio: 16 / 9;
	}

	#iframe-container iframe {
		width: 100%;
		height: 100%;
		border: none;
	}

	#image-container {
		width: 100%;
		aspect-ratio: 16 / 9;
	}

	#image-container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
